.mail-preview {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.mail-preview span:nth-child(1) {
    margin-inline-end: auto;
}

.mail-preview span:nth-child(2) {
    margin-inline-end: auto;
}