.compose-btn {
    display: flex;
    background-color: var(--mail-compose-bg);
    border-radius: 24px;
    width: 120px;
    padding: 10px;
    border: none;
    gap: 5px;
}

.compose-btn .icon {
    width: 20px;
}

.compose:hover {
    box-shadow: 1px 2px 0 rgba(60, 64, 67, .3),
        0 1px 3px 1px rgba(60, 64, 67, .15);
}

.side-menu {
    display: flex;
    flex-direction: column;
}

.side-menu p {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.side-menu p:hover {
    cursor: pointer;
    padding: 10px;
    background: var(--mail-label-hover);
}

.side-menu p .icon {
    width: 15px;
    margin-inline-end: 10px;
}

.side-menu .unread-counter {
    margin-inline-start: auto;
}