.note-add-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.note-add {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 16px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.note-title {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 8px;
    font-size: 16px;
    outline: none;
}

.note-text {
    border: none;
    font-size: 14px;
    resize: none;
    outline: none;
    margin-bottom: 8px;
}

.save-note-button {
    align-self: flex-end;
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}