.side-nav {
    position: fixed;
    top: 184px;
    left: 0;
    width: 180px;
    transition: left 0.3s ease;
}

.side-nav.open {
    position: absolute;
    top: 21%;
    bottom: 0;
    left: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #5f6368;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
}

.nav-link:hover {
    background-color: #feefc3;
}

.nav-link.active {
    background-color: #feefc3;
}

.nav-link svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav-link.note svg {
    fill: #f28b82;
}

.nav-link.label svg {
    fill: #7bc67b;
}

.nav-link.archive svg {
    fill: #aecbfa;
}

.nav-link.trash svg {
    fill: #fbbc04;
}

/* .note-main-screen {
    display: block;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    background-color: rgba(212, 212, 212, 0.336);
} */