.app-header {
    background: linear-gradient(100deg, #e2adad, #cad3e6);
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.home {
    position: fixed;
    z-index: -1;
    inset: 0;
    background-image: url(/assets/img/mail-icons/mainBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.welcome {
    position: absolute;
    top: 200px;
    font-size: 3em;
    color: whitesmoke;
    margin-inline-start: 30px;
}